<!DOCTYPE html>
<html>
<head>
    <title>My Scratch Page</title>
</head>
<body>
    <h1>Welcome to My Scratch Page</h1>

    <!-- Bonus Task A goes here -->
    <p>By Henry Lim — <a href="https://www.linkedin.com/in/henry-lim-15636212b">LinkedIn</a></p>

    <h2>Comments</h2>
    {% for comment in comments %}
        <p>{{ comment.content }}</p>
    {% endfor %}

    <form action="{{ url_for('add') }}" method="post">
        <input name="contents" placeholder="Add a comment">
        <input type="submit" value="Add">
    </form>
</body>
</html>
